body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: teal;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}

h1,h2{
	font-family: 'Shrikhand', cursive;
}

header h1{
	color: white;
	font-size: 50px;

}

header img{
	border-radius: 170px;
    width: 300px;
    height: 300px;
    border: 10px solid lightsalmon;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding:  20px
}

main img{
	max-width: 100%;
	border: 10px solid lightsalmon
}

h2{
	font-size: 30px;
	color: teal;
	margin: 40px 10px;
}

a{
	color: salmon
}
a:hover{
	color: white;
	background-color: purple;
}

footer{
	text-align: center;
	padding: 50px;

}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}